apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ipam-pvc
  namespace: homelab
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Mi
